/.metadata/
.buildpath
.project
.settings/org.eclipse.php.core.prefs
.settings/org.eclipse.wst.common.project.facet.core.xml
config/omnomnom-tasks/Connect.php
www/.buildpath
www/.project
www/.settings/org.eclipse.core.resources.prefs
